<!-- Default Section -->
<div
    class="become-instructor-area bg-color"
    [ngClass]="{'d-none': router.url === '/vendor-certification-etraining' || router.url === '/online-training-school' || router.url === '/distance-learning' || router.url === '/remote-training' || router.url === '/online-art-learning'}"
>
    <div class="become-instructor-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="become-instructor-content">
                        <i class="flaticon-coaching"></i>
                        <h2>Become an instructor</h2>
                        <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="become-instructor-btn">
                        <a routerLink="/become-an-instructor" class="default-btn">Start Teaching Today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape8"><img src="assets/img/shape/shape8.png" alt="shape"></div> -->
</div>

<!-- This section for Vendor Certification eTraining Demo -->
<div
    class="become-instructor-area d-none"
    [ngClass]="{'d-block': router.url === '/vendor-certification-etraining'}"
>
    <div class="container">
        <div class="become-instructor-inner-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="become-insinstructor-image">
                        <img src="assets/img/women3.jpg" alt="women">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="become-instructor-content">
                        <h2>Become an instructor</h2>
                        <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
                        <a routerLink="/become-an-instructor" class="default-btn">Start Teaching Today</a>
                        <div class="social">
                            <div class="d-flex align-items-center">
                                <span>Follow Us:</span>
                                <ul>
                                    <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div> -->
    <!-- <div class="shape6"><img src="assets/img/shape/shape6.png" alt="shape"></div> -->
</div>

<!-- This section for Online Training School Demo -->
<div
    class="become-instructor-area pt-100 d-none"
    [ngClass]="{'d-block': router.url === '/online-training-school'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="become-insinstructor-img">
                    <img src="assets/img/women4.png" alt="women">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="become-instructor-content black-color">
                    <h2>Become an instructor</h2>
                    <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
                    <a routerLink="/become-an-instructor" class="default-btn">Start Teaching Today</a>
                    <div class="social">
                        <div class="d-flex align-items-center">
                            <span>Follow Us:</span>
                            <ul>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape1"><img src="assets/img/shape/dot-shape1.png" alt="shape"></div> -->
    <!-- <div class="shape8"><img src="assets/img/shape/shape8.png" alt="shape"></div> -->
    <!-- <div class="shape5"><img src="assets/img/shape/shape5.png" alt="shape"></div> -->
    <!-- <div class="shape10"><img src="assets/img/shape/shape10.png" alt="shape"></div> -->
</div>

<!-- This section for Distance Leaning Demo -->
<div
    class="features-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/distance-learning'}"
>
    <div class="container">
        <div class="section-title style-two">
            <span class="sub-title">INSTRUCTORS & STUDENTS</span>
            <h2>What You Looking For?</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="single-features-item">
                    <img src="assets/img/icon/icon5.png" alt="icon">
                    <h3>Do you want to teach here?</h3>
                    <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
                    <a routerLink="/become-an-instructor" class="default-btn style-two">Register Now</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-features-item">
                    <img src="assets/img/icon/icon6.png" alt="icon">
                    <h3>Do you want to learn here?</h3>
                    <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
                    <a routerLink="/profile-authentication" class="default-btn style-two">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Remote Training Demo -->
<div
    class="rt-instructor-area ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/remote-training' || router.url === '/online-art-learning'}"
>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="rt-instructor-image">
                    <img src="assets/img/remote-training/instructor/instructor.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="rt-instructor-content">
                    <h2>Become an Instructor And Join with us</h2>
                    <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us! Flexible easy to access learning opportunities can bring a significant change.</p>
                    <div class="instructor-btn">
                        <a routerLink="/" class="default-btn">
                            Start Teaching Today <img src="assets/img/remote-training/arrow-right.svg" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rt-instructor-shape-1">
        <img src="assets/img/remote-training/instructor/shape1.png" alt="image">
    </div>
    <div class="rt-instructor-shape-2">
        <img src="assets/img/remote-training/instructor/shape2.png" alt="image">
    </div>
</div>