<div class="not-found-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div
                    class="not-found-content"
                    *ngFor="let content of notFoundContent"
                >
                    <img [src]="content.img" alt="error-image">
                    <h3>{{content.title}}</h3>
                    <p>{{content.paragraph}}</p>
                    <a
                        routerLink="{{content.buttonLink}}"
                        class="default-btn"
                    >
                        {{content.buttonText}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>