<div class="main-banner-area banner_color">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                Banner Section 
            </div>    
        </div>    
    </div>    
</div>    
<div class="main-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-content">
                    <h1>Empowering Instructors, Elevating Learners </h1>
                    <p>Our vision is to empower a billion minds by collaborating with educational institutions, experts and organizations globally, providing them with the resources and support needed to unlock their full potential.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-image">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="image">
                                <img src="assets/img/banner/banner-img1.png" alt="banner-image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="image">
                                <img src="assets/img/banner/banner-img2.png" alt="banner-image">
                            </div>
                            <div class="image">
                                <img src="assets/img/banner/banner-img3.jpg" alt="banner-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2" data-speed="0.10" data-revert="true"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape3" data-speed="0.10" data-revert="true"><img src="assets/img/shape/shape3.png" alt="shape"></div> -->
</div>