<div class="dark-home-banner-area">
    <div
        class="container-fluid"
        *ngFor="let content of bannerContent"
    >
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="dark-home-banner-content">
                    <h1>{{content.title}}</h1>
                    <p>{{content.paragraph}}</p>
                    <form class="search-box">
                        <input type="text" class="input-search" placeholder="{{content.placeholderText}}">
                        <button type="submit">{{content.buttonText}}</button>
                        <div class="icon"><i class="flaticon-search"></i></div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="dark-home-banner-image">
                    <img [src]="content.image" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="dark-home-banner-shape-1">
        <img src="assets/img/dark-home/banner/shape1.png" alt="image">
    </div>
    <div class="dark-home-banner-shape-2">
        <img src="assets/img/dark-home/banner/shape2.png" alt="image">
    </div>
    <div class="dark-home-banner-shape-3">
        <img src="assets/img/dark-home/banner/shape3.png" alt="image">
    </div>
</div>