<div class="how-its-work-area pt-100 pb-75">
    <div class="container">
        <!-- <div class="how-its-work-box">
            <img src="assets/img/how-its-work.jpg" alt="how-we-work">
        </div> -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-how-its-work-box">
                    <div class="number">1</div>
                    <h3>Earn Money</h3>
                    <p>Lorem ipsum dolor sit amet, consetet ur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-how-its-work-box">
                    <div class="number">2</div>
                    <h3>Inspire Students</h3>
                    <p>Lorem ipsum dolor sit amet, consetet ur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-how-its-work-box">
                    <div class="number">3</div>
                    <h3>Join Our Community</h3>
                    <p>Lorem ipsum dolor sit amet, consetet ur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>