<div class="banner-wrapper-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="banner-wrapper-content">
                    <h1>The World’s Leading Distance Learning Provider</h1>
                    <p>Flexible easy to access learning opportunities can bring a significant change in how individuals prefer to learn! The Edla can offer you to enjoy the beauty of eLearning!</p>
                    <a routerLink="/profile-authentication" class="default-btn">Join For Free</a>
                    <div class="funfacts">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                <div class="single-funfacts-box">
                                    <i class="flaticon-books"></i>
                                    <h3>
                                        <span class="odometer">
                                            7500
                                        </span>
                                        <span class="sign">+</span>
                                    </h3>
                                    <p>COURSES</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                <div class="single-funfacts-box">
                                    <i class="flaticon-teacher"></i>
                                    <h3>
                                        <span class="odometer">
                                            1500
                                        </span>
                                        <span class="sign">+</span>
                                    </h3>
                                    <p>INSTRUCTORS</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                <div class="single-funfacts-box">
                                    <i class="flaticon-people"></i>
                                    <h3>
                                        <span class="odometer">
                                            165000
                                        </span>
                                        <span class="sign">+</span>
                                    </h3>
                                    <p>STUDENTS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="banner-wrapper-image">
                    <img src="assets/img/banner/banner-img5.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
    <div class="shape11"><img src="assets/img/shape/shape11.png" alt="shape"></div>
</div>