<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Zoom & Meet</li>
            </ul>
            <h1>Zoom Meetings or Google Meet</h1>
        </div>
    </div>
</div>

<!-- Zoom Meetings -->
<div class="zoom-meetings-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-zoom-meeting-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img1.jpg" class="main-image" alt="meetings-image">
                        <span class="category"><img src="assets/img/zoom.png" alt="zoom"></span>
                    </div>
                    <a routerLink="/zoom-meetings-details" class="link-btn"></a>
                    <div class="content">
                        <h3>Global Conference</h3>
                        <span class="id">MEETING ID: <span>25465785422</span></span>
                        <span class="password">PASSWORD: <span>123456</span></span>
                        <ul class="d-flex align-items-center justify-content-between">
                            <li>
                                <span>DATE:</span>
                                Sep 14, 2024
                            </li>
                            <li>
                                <span>TIME:</span>
                                12:00 PM
                            </li>
                            <li>
                                <span>DURATION:</span>
                                30m
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-zoom-meeting-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img2.jpg" class="main-image" alt="meetings-image">
                        <span class="category"><img src="assets/img/meet.png" alt="meet"></span>
                    </div>
                    <a routerLink="/zoom-meetings-details" class="link-btn"></a>
                    <div class="content">
                        <h3>Aims & Objectives</h3>
                        <span class="id">MEETING ID: <span>meet.google.com/abc-cde-fgh</span></span>
                        <span class="password">PASSWORD: <span>123456</span></span>
                        <ul class="d-flex align-items-center justify-content-between">
                            <li>
                                <span>DATE:</span>
                                Sep 12, 2024
                            </li>
                            <li>
                                <span>TIME:</span>
                                1:00 AM
                            </li>
                            <li>
                                <span>DURATION:</span>
                                25m
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-zoom-meeting-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img3.jpg" class="main-image" alt="meetings-image">
                        <span class="category"><img src="assets/img/zoom.png" alt="zoom"></span>
                    </div>
                    <a routerLink="/zoom-meetings-details" class="link-btn"></a>
                    <div class="content">
                        <h3>Literacy Teaching</h3>
                        <span class="id">MEETING ID: <span>35565785422</span></span>
                        <span class="password">PASSWORD: <span>123456</span></span>
                        <ul class="d-flex align-items-center justify-content-between">
                            <li>
                                <span>DATE:</span>
                                Sep 10, 2024
                            </li>
                            <li>
                                <span>TIME:</span>
                                12:00 AM
                            </li>
                            <li>
                                <span>DURATION:</span>
                                55m
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-zoom-meeting-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img4.jpg" class="main-image" alt="meetings-image">
                        <span class="category"><img src="assets/img/zoom.png" alt="zoom"></span>
                    </div>
                    <a routerLink="/zoom-meetings-details" class="link-btn"></a>
                    <div class="content">
                        <h3>Teacher Education</h3>
                        <span class="id">MEETING ID: <span>00065785422</span></span>
                        <span class="password">PASSWORD: <span>123456</span></span>
                        <ul class="d-flex align-items-center justify-content-between">
                            <li>
                                <span>DATE:</span>
                                Sep 08, 2024
                            </li>
                            <li>
                                <span>TIME:</span>
                                8:00 AM
                            </li>
                            <li>
                                <span>DURATION:</span>
                                1hr
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-zoom-meeting-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img5.jpg" class="main-image" alt="meetings-image">
                        <span class="category"><img src="assets/img/meet.png" alt="meet"></span>
                    </div>
                    <a routerLink="/zoom-meetings-details" class="link-btn"></a>
                    <div class="content">
                        <h3>Lifestyle Blog</h3>
                        <span class="id">MEETING ID: <span>meet.google.com/abc-cde-fgh</span></span>
                        <span class="password">PASSWORD: <span>123456</span></span>
                        <ul class="d-flex align-items-center justify-content-between">
                            <li>
                                <span>DATE:</span>
                                Sep 06, 2024
                            </li>
                            <li>
                                <span>TIME:</span>
                                7:00 PM
                            </li>
                            <li>
                                <span>DURATION:</span>
                                42m
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-zoom-meeting-box">
                    <div class="image">
                        <img src="assets/img/courses/courses-img6.jpg" class="main-image" alt="meetings-image">
                        <span class="category"><img src="assets/img/zoom.png" alt="zoom"></span>
                    </div>
                    <a routerLink="/zoom-meetings-details" class="link-btn"></a>
                    <div class="content">
                        <h3>Education & LMS</h3>
                        <span class="id">MEETING ID: <span>01235785422</span></span>
                        <span class="password">PASSWORD: <span>123456</span></span>
                        <ul class="d-flex align-items-center justify-content-between">
                            <li>
                                <span>DATE:</span>
                                Sep 04, 2024
                            </li>
                            <li>
                                <span>TIME:</span>
                                11:00 PM
                            </li>
                            <li>
                                <span>DURATION:</span>
                                2.5hr
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>