<div class="online-art-banner-slides">
    <owl-carousel-o [options]="bannerSlides">
        <ng-template carouselSlide>
            <div class="online-art-banner-item" style="background-image: url(assets/img/online-art/slides/slides-bg1.jpg);">
                <div class="container-fluid">
                    <div class="online-art-banner-content">
                        <h1>Everyone Can Join & Draw With Us Easily</h1>
                        <p><b>Edla</b> is a Global training provider based across the UK that specialises in accredited and bespoke training courses. Flexible easy to access learning opportunities can bring a significant change.</p>
                        <div class="banner-btn">
                            <a routerLink="/courses-grid" class="default-btn">
                                Explore All Courses <img src="assets/img/online-art/arrow-right.svg" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="art-banner-info">
                    <div class="d-flex align-items-center">
                        <div class="images d-flex align-items-center">
                            <img src="assets/img/user/user1.jpg" alt="author">
                        </div>
                        <div class="text">
                            <p>Art Done By <a routerLink="/profile">Andrew Watson</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="online-art-banner-item" style="background-image: url(assets/img/online-art/slides/slides-bg2.jpg);">
                <div class="container-fluid">
                    <div class="online-art-banner-content">
                        <h1>Build Skills With Experts Any Time, Anywhere</h1>
                        <p><b>Edla</b> is a Global training provider based across the UK that specialises in accredited and bespoke training courses. Flexible easy to access learning opportunities can bring a significant change.</p>
                        <div class="banner-btn">
                            <a routerLink="/courses-grid" class="default-btn">
                                Explore All Courses <img src="assets/img/online-art/arrow-right.svg" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="art-banner-info">
                    <div class="d-flex align-items-center">
                        <div class="images d-flex align-items-center">
                            <img src="assets/img/user/user1.jpg" alt="author">
                        </div>
                        <div class="text">
                            <p>Art Done By <a routerLink="/profile">Sarah Taylor</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="online-art-banner-item" style="background-image: url(assets/img/online-art/slides/slides-bg3.jpg);">
                <div class="container-fluid">
                    <div class="online-art-banner-content">
                        <h1>Start learning from the world’s best institutions</h1>
                        <p><b>Edla</b> is a Global training provider based across the UK that specialises in accredited and bespoke training courses. Flexible easy to access learning opportunities can bring a significant change.</p>
                        <div class="banner-btn">
                            <a routerLink="/courses-grid" class="default-btn">
                                Explore All Courses <img src="assets/img/online-art/arrow-right.svg" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="art-banner-info">
                    <div class="d-flex align-items-center">
                        <div class="images d-flex align-items-center">
                            <img src="assets/img/user/user1.jpg" alt="author">
                        </div>
                        <div class="text">
                            <p>Art Done By <a routerLink="/profile">James Andy</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>