<div class="events-area bg-f5f5f5 ptb-100">
    <div class="container">
        <div class="section-title style-two">
            <span class="sub-title">CONTACT WITH US</span>
            <h2>Upcoming Events</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">10</div>
                            <div class="month">Sep</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> New York, USA</span>
                            <h3>Global Conference</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">15</div>
                            <div class="month">Aug</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> Istanbul, Tur</span>
                            <h3>Aims & Objectives</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">14</div>
                            <div class="month">Jun</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> Sydney, Aus</span>
                            <h3>Literacy Teaching</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">12</div>
                            <div class="month">Feb</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> Vancover, Can</span>
                            <h3>Teacher Education</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="more-events">
                    <p>Excited about our event? <a href="events.html">View all events!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>