<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>FAQ</li>
            </ul>
            <h1>Frequently Asked Question</h1>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq-area ptb-100">
    <div class="container">
        <div class="faq-content">
            <h2>Ciao! How Can We Help You?</h2>
            <form>
                <label><i class='bx bx-search-alt'></i></label>
                <input type="text" class="input-search" placeholder="Search a question...">
                <button type="submit" class="default-btn">Search</button>
            </form>
        </div>
        <div class="faq-accordion">
            <h3>Getting Started</h3>
            <mdb-accordion>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>Do I have to be a student to take an online course?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p><strong>Edla</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Edla</strong>, a company who values you and your family, visit our careers page.</p>
                        <ul>
                            <li>a console</li>
                            <li>Two Joy-Con controllers that are detachable</li>
                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                            <li>Two straps for turning the Joy-Cons into individual controllers</li>
                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                        </ul>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>How old do I have to be to take an online class?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        <ul>
                            <li>a console</li>
                            <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                            <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                        </ul>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>What if I change my mind and want to drop my class?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                        <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>What are the technical requirements for an online course?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <ul>
                            <li>a console</li>
                            <li>Two Joy-Con controllers that are detachable</li>
                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                            <li>Two straps for turning the Joy-Cons into individual controllers</li>
                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                        </ul>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>May I take a class as non-credit and pay a reduced tuition?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </ng-template>
                </mdb-accordion-item>
            </mdb-accordion>
            <h3>Account/Profile</h3>
            <mdb-accordion>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>What do Edla courses include?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p><strong>Edla</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Edla</strong>, a company who values you and your family, visit our careers page.</p>
                        <ul>
                            <li>a console</li>
                            <li>Two Joy-Con controllers that are detachable</li>
                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                            <li>Two straps for turning the Joy-Cons into individual controllers</li>
                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                        </ul>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>How do I take a Edla course?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        <ul>
                            <li>a console</li>
                            <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                            <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                        </ul>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>Is there any way to preview a course?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                        <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>How can I pay for a course?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <ul>
                            <li>a console</li>
                            <li>Two Joy-Con controllers that are detachable</li>
                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                            <li>Two straps for turning the Joy-Cons into individual controllers</li>
                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                        </ul>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>Where can I go for help?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </ng-template>
                </mdb-accordion-item>
            </mdb-accordion>
            <h3>Purchase/Refunds</h3>
            <mdb-accordion>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>Where can I see the status of my refund?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p><strong>Edla</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Edla</strong>, a company who values you and your family, visit our careers page.</p>
                        <ul>
                            <li>a console</li>
                            <li>Two Joy-Con controllers that are detachable</li>
                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                            <li>Two straps for turning the Joy-Cons into individual controllers</li>
                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                        </ul>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>When will I receive my refund?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        <ul>
                            <li>a console</li>
                            <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                            <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                        </ul>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>What is a “credit refund”?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                        <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>What is the difference between a refund and a purchase reversal?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <ul>
                            <li>a console</li>
                            <li>Two Joy-Con controllers that are detachable</li>
                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                            <li>Two straps for turning the Joy-Cons into individual controllers</li>
                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                        </ul>
                    </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                    <ng-template mdbAccordionItemHeader>How to Search for Courses on Edla?</ng-template>
                    <ng-template mdbAccordionItemBody>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    </ng-template>
                </mdb-accordion-item>
            </mdb-accordion>
        </div>
    </div>
</div>