<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Events</li>
            </ul>
            <h1>Events From Worldwide</h1>
        </div>
    </div>
</div>

<!-- Events -->
<div class="events-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box with-boxshadow">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">10</div>
                            <div class="month">Sep</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> New York, USA</span>
                            <h3>Global Conference</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box with-boxshadow">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">15</div>
                            <div class="month">Aug</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> Istanbul, Tur</span>
                            <h3>Aims & Objectives</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box with-boxshadow">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">14</div>
                            <div class="month">Jun</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> Sydney, Aus</span>
                            <h3>Literacy Teaching</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box with-boxshadow">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">12</div>
                            <div class="month">Feb</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> Vancover, Can</span>
                            <h3>Teacher Education</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box with-boxshadow">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">11</div>
                            <div class="month">Dec</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> Moscow, Rus</span>
                            <h3>Lifestyle Blog</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-events-box with-boxshadow">
                    <a routerLink="/events-details" class="link-btn"></a>
                    <div class="d-flex align-items-center">
                        <div class="date">
                            <div class="day">10</div>
                            <div class="month">Mar</div>
                            <a routerLink="/events-details" class="default-btn style-two">Get Ticket</a>
                        </div>
                        <div class="content">
                            <span class="location"><i class='bx bx-map'></i> Beijing, Chi</span>
                            <h3>Education & LMS</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>