<div
    class="coming-soon-area"
    style="background-image: url(assets/img/coming-soon.jpg);"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="coming-soon-content">
                    <a routerLink="/" class="logo">
                        <img src="assets/img/logo.png" alt="image">
                    </a>
                    <h2>We Are Launching Soon</h2>
                    <ul class="coming-soon-countdown flex-wrap d-flex">
                        <li class="align-items-center flex-column d-flex justify-content-center">
                            {{days}}
                            <span class="days">Days</span>
                        </li>
                        <li class="align-items-center flex-column d-flex justify-content-center">
                            {{hours}}
                            <span class="hours">Hours</span>
                        </li>
                        <li class="align-items-center flex-column d-flex justify-content-center">
                            {{minutes}}
                            <span class="minutes">Mins</span>
                        </li>
                        <li class="align-items-center flex-column d-flex justify-content-center">
                            {{seconds}}
                            <span class="seconds">Secs</span>
                        </li>
                    </ul>
                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Enter your email" name="email" required autocomplete="off">
                        <button type="submit" class="default-btn">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>