<div class="widget widget_search">
    <h3 class="widget-title"><span>Search</span></h3>
    <form class="search-form">
        <input type="search" class="search-field" placeholder="Search...">
        <button type="submit"><i class='bx bx-search-alt'></i></button>
    </form>
</div>
<div class="widget widget_categories">
    <h3 class="widget-title"><span>Categories</span></h3>
    <ul>
        <li><a routerLink="/blog-grid">Business <span class="count">(6)</span></a></li>
        <li><a routerLink="/blog-grid">Privacy <span class="count">(4)</span></a></li>
        <li><a routerLink="/blog-grid">Technology <span class="count">(5)</span></a></li>
        <li><a routerLink="/blog-grid">Tips <span class="count">(3)</span></a></li>
        <li><a routerLink="/blog-grid">Log in <span class="count">(8)</span></a></li>
        <li><a routerLink="/blog-grid">Uncategorized <span class="count">(1)</span></a></li>
    </ul>
</div>
<div class="widget widget_edla_posts_thumb">
    <h3 class="widget-title"><span>Popular Posts</span></h3>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <img src="assets/img/blog/blog-img1.jpg" alt="blog-image">
        </a>
        <div class="info">
            <h4 class="title">
                <a routerLink="/blog-details">Standard operating procedures (SOP) changes with an LMS</a>
            </h4>
            <span class="date">19th Sep, 2024</span>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <img src="assets/img/blog/blog-img2.jpg" alt="blog-image">
        </a>
        <div class="info">
            <h4 class="title">
                <a routerLink="/blog-details">Questions to ask vendors before choosing an LMS platform</a>
            </h4>
            <span class="date">19th Sep, 2024</span>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <img src="assets/img/blog/blog-img3.jpg" alt="blog-image">
        </a>
        <div class="info">
            <h4 class="title">
                <a routerLink="/blog-details">In person, virtual or hybrid: helpful tools for back to school</a>
            </h4>
            <span class="date">19th Sep, 2024</span>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <img src="assets/img/blog/blog-img4.jpg" alt="blog-image">
        </a>
        <div class="info">
            <h4 class="title">
                <a routerLink="/blog-details">Corporate online learning trends you still need to implement in 2024</a>
            </h4>
            <span class="date">19th Sep, 2024</span>
        </div>
    </article>
</div>
<div class="widget widget_follow_us">
    <h3 class="widget-title"><span>Follow Us</span></h3>
    <ul>
        <li><a href="#" target="_blank">Facebook</a></li>
        <li><a href="#" target="_blank">Twitter</a></li>
        <li><a href="#" target="_blank">Instagram</a></li>
        <li><a href="#" target="_blank">Pinterest</a></li>
        <li><a href="#" target="_blank">Linkedin</a></li>
    </ul>
</div>
<div class="widget widget_tag_cloud">
    <h3 class="widget-title"><span>Tags</span></h3>
    <div class="tagcloud">
        <a routerLink="/blog-tag">Advertisment</a>
        <a routerLink="/blog-tag">Business</a>
        <a routerLink="/blog-tag">Life</a>
        <a routerLink="/blog-tag">Lifestyle</a>
        <a routerLink="/blog-tag">Fashion</a>
        <a routerLink="/blog-tag">Ads</a>
        <a routerLink="/blog-tag">Advertisment</a>
        <a routerLink="/blog-tag">Business</a>
    </div>
</div>
<div class="widget widget_media_image">
    <a href="#" class="d-inline-block">
        <img src="assets/img/advertisement.jpg" alt="advertisement">
    </a>
</div>