<app-oald-banner></app-oald-banner>

<app-art-classes></app-art-classes>

<app-features></app-features>

<app-popular-courses></app-popular-courses>

<div class="home-nine-with-bg-color">
    <div class="pt-100">
        <app-feedback></app-feedback>

        <app-animation-text></app-animation-text>

        <app-stories></app-stories>

        <app-become-an-instructor></app-become-an-instructor>
    </div>
</div>

<app-funfacts></app-funfacts>

<div class="bg-color-home-nine">
    <app-blog></app-blog>
</div>