<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Purchase Guide</li>
            </ul>
            <h1>Purchase Guide</h1>
        </div>
    </div>
</div>

<!-- Purchase Guide -->
<div class="purchase-guide-area ptb-100">
    <div class="container">
        <div class="purchase-guide-content">
            <p>This Purchase Guide was last updated on September 1, 2024.</p>
            <h4>Our website</h4>
            <p>Our website address is: https://edla.com/</p>
            <h4>Accepted currency</h4>
            <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make <a routerLink="/">available</a> on our Site.</p>
            <p><strong>Edla</strong> accepts the following payment methods:</p>
            <ul>
                <li>Credit Card: <strong>Visa</strong>, <strong>MasterCard</strong>, <strong>Discover</strong>, <strong>American Express</strong>, <strong>JCB</strong>, <strong>Visa Electron</strong>. The total will be charged to your card when the order is shipped.</li>
                <li><strong>Edla</strong> features a Fast Checkout option, allowing you to securely save your credit card details so that you don't have to re-enter them for future purchases.</li>
                <li>PayPal: Shop easily online without having to enter your credit card details on the website.Your account will be charged once the order is completed. To register for a PayPal account, visit the website <a href="#" target="_blank">paypal.com.</a></li>
            </ul>
            <p>Users may be asked for, as appropriate, name, email address, mailing address, phone number, company name. We will collect personal <strong>identification</strong> information from Users only if they voluntarily consent such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related.</p>
            <h4>Account registering</h4>
            <p><strong>1.</strong> Name (required)<br>
                <strong>2.</strong> Age (required)<br>
                <strong>3.</strong> Date of birth (required)<br>
                <strong>4.</strong> Passport/ ID no. (required)<br>
                <strong>5.</strong> Current career (required)<br>
                <strong>6.</strong> Mobile phone numbers (required)<br>
                <strong>7.</strong> Email address (required)<br>
                <strong>8.</strong> Hobbies & interests (optional)<br>
                <strong>9.</strong> Social profiles (optional)
            </p>
            <p>This site is provided by <strong>Edla</strong>. <strong>Edla</strong> collects information in several ways from different parts of this site.</p>
            <h4>Membership policy</h4>
            <p>Users may be asked for, as appropriate, name, email address, mailing address, phone number, company name. We will collect personal <strong>identification</strong> information from Users only if they voluntarily consent such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related.</p>
            <h4>How to purchase a course? </h4>
            <p>Items returned within 14 days of their original shipment date in same as new condition will be eligible for a full refund or store credit. Refunds will be charged back form of payment used for purchase. Customer is responsible for shipping charges when making returns and shipping/handling fees of original purchase is non-refundable.</p>
            <h4>Why to buy our course?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus, maximus vel augue sed, pharetra hendrerit orci. Vivamus sed massa in nibh imperdiet mattis quis sed augue. Pellentesque erat metus, vestibulum nec nisl.</p>
            <ul>
                <li>Updated content on a regular basis</li>
                <li>Secure & hassle-free payment</li>
                <li>1-click checkout</li>
                <li>Easy access & smart user dashboard</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus.</p>
            <h4>Security and storage</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus.</p>
            <ol>
                <li>Credit Card: <strong>Visa</strong>, <strong>MasterCard</strong>, <strong>Discover</strong>, <strong>American Express</strong>, <strong>JCB</strong>, <strong>Visa Electron</strong>. The total will be charged to your card when the order is shipped.</li>
                <li><strong>Edla</strong> features a Fast Checkout option, allowing you to securely save your credit card details so that you don't have to re-enter them for future purchases.</li>
                <li>PayPal: Shop easily online without having to enter your credit card details on the website.Your account will be charged once the order is completed. To register for a PayPal account, visit the website <a href="#" target="_blank">paypal.com.</a></li>
            </ol>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus.</p>
        </div>
    </div>
</div>