<div class="courses-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Quizzes</h2>
            <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
            <a routerLink="/courses-grid" class="default-btn">View All Courses</a>
        </div>

        <div class="courses-tabs">
            <!-- <mdb-tabs>
                <mdb-tab title="All Courses"> -->
                    <!-- <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/courses/q-1.png" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">SAP and ERP for Beginners</a></h3>
                                    <a routerLink="/profile" class="author">Milind Sathe</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">₹99</span>
                                        <span class="old-price">₹199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/courses/q-2.png" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Scholarship English</a></h3>
                                    <a routerLink="/profile" class="author">PIACIAS</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">₹69</span>
                                        <span class="old-price">₹89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/courses/q-3.png" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">UPSC Prelims General Studies Test 2023 - II</a></h3>
                                    <a routerLink="/profile" class="author">PIACIAS</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">3.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,800)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">₹39</span>
                                        <span class="old-price">₹59</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/courses/q-4.png" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">8th Scholarship English Quiz 3</a></h3>
                                    <a routerLink="/profile" class="author">Purushottam Thoke</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">₹49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                <!-- </mdb-tab>
            </mdb-tabs> -->



            <button class="carousel-arrow left-arrow" (click)="scrollCarousel(-1)">&#10094;</button>

            <div class="courses-carousel">
              
            
                <div class="scroll-container" #scrollContainer>
                    <div class="scroll-container-row">
                        <div class="single-courses-box" *ngFor="let course of courses">
                            <div class="image">
                                <img [src]="course.image" alt="courses-image">
                                <a routerLink="/courses-details" class="link-btn"></a>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/courses-details">{{ course.title }}</a></h3>
                                <a routerLink="/profile" class="author">{{ course.author }}</a>
                                <div class="rating">
                                    <div class="d-flex align-items-center">
                                        <span class="overall">{{ course.rating }}</span>
                                        <div class="star">
                                            <i *ngFor="let star of course.stars" class="bx bxs-star"></i>
                                        </div>
                                        <span class="total">({{ course.reviews }})</span>
                                    </div>
                                </div>
                                <div class="price">
                                    <span class="new-price">{{ course.newPrice }}</span>
                                    <span *ngIf="course.oldPrice" class="old-price">{{ course.oldPrice }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Right Arrow -->
            </div>
            
            <button class="carousel-arrow right-arrow" (click)="scrollCarousel(1)">&#10095;</button>
        </div>


       
        
    </div>
    <div
        class="shape5"
        [ngClass]="{'style-two': router.url === '/vendor-certification-etraining'}"
    >
        <!-- <img src="assets/img/shape/shape5.png" alt="shape"> -->
    </div>
    <div
        class="shape4 style-two"
        [ngClass]="{'d-none': router.url === '/vendor-certification-etraining'}"
    >
        <!-- <img src="assets/img/shape/shape4.png" alt="shape"> -->
    </div>
</div>