<div class="courses-details-area bg-color">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="courses-details-header">
                    <h4 class="category_details">Category <i class="fa-solid fa-chevron-right"></i> Category 1 <i class="fa-solid fa-chevron-right"></i> Category 2</h4>
                    <div class="rating">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bx-star'></i>
                        <div class="rating-count">
                            <span>4.0 (4 rating)</span>
                        </div>
                    </div>
                    <h2>Comprehensive English Course (मराठी Version)</h2>
                    <ul class="courses-meta">
                        <li>
                            <i class='bx bx-folder-open'></i>
                            <span>Category</span>
                            <a routerLink="/courses">Node.js</a>
                        </li>
                        <li>
                            <i class='bx bx-group'></i>
                            <span>Students Enrolled</span>
                            541
                        </li>
                    </ul>
                    <a routerLink="/profile-authentication" class="default-btn">Enroll Now</a>
                    <a style="margin-left: 10px;" routerLink="/product-details" class="default-btn">Details</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="courses-details-image">
                   <button class="btn non_selected_btn">Selected</button>
                   <button class="btn selected_btn">Not Selected</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="courses-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="courses-details-desc">
                    <mdb-tabs>
                        <mdb-tab title="Overview">
                            <div class="courses-overview">
                                <h3>Course Description</h3>
                                <p>Are you looking to improve your English? This course is designed for everyone who want to learn practical English skills. This is aimed for people from Marathi medium to master their English skills.

                                    The course covers all four language areas: listening, speaking, reading, and writing. It also includes grammar, vocabulary building, and soft skills training. You can choose the modules that fit your needs, whether you want to improve your communication for work or studies or for general conversations.
                                    
                                    Each lesson is short and easy to understand, with explanations in English & Marathi. There are videos, exercises, quizzes, and a course book with transcripts and extra materials. The course is completely online and self-paced, so you can learn at your own convenience.
                                    
                                    This course is designed to be extremely comprehensive and convenient with more than 150 lessons each varying between 3 minutes to 16 minutes, so you can finally stop searching for different resources and focus on improving your English - systematically. Enroll today! And we are confident you can improve your English skills significantly upon completion of this course!  </p>
                            </div>
                        </mdb-tab>
                        <mdb-tab title="Curriculum">
                            <div class="courses-curriculum">
                                <h3>Python Introduction</h3>
                                <ul>
                                    <li><a routerLink="/courses-details" class="d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Python Introduction</span>
                                        <div class="courses-meta">
                                            <span class="questions">5 questions</span>
                                            <span class="duration">01 Hour</span>
                                            <span class="status">Preview</span>
                                        </div>
                                    </a></li>
                                </ul>
                                <h3>Stepping into the World of Python</h3>
                                <ul>
                                    <li><a routerLink="/courses-details" class="d-flex justify-content-between align-items-center">
                                        <span class="courses-name">NumPy Introduction</span>
                                        <div class="courses-meta">
                                            <span class="duration">15 Min</span>
                                            <span class="status locked"><i class='bx bx-lock-alt'></i></span>
                                        </div>
                                    </a></li>
                                    <li><a routerLink="/courses-details" class="d-flex justify-content-between align-items-center">
                                        <span class="courses-name">NumPy Getting Started</span>
                                        <div class="courses-meta">
                                            <span class="duration">30 Min</span>
                                            <span class="status locked"><i class='bx bx-lock-alt'></i></span>
                                        </div>
                                    </a></li>
                                    <li><a routerLink="/courses-details" class="d-flex justify-content-between align-items-center">
                                        <span class="courses-name">NumPy Creating Arrays</span>
                                        <div class="courses-meta">
                                            <span class="duration">45 Min</span>
                                            <span class="status locked"><i class='bx bx-lock-alt'></i></span>
                                        </div>
                                    </a></li>
                                    <li><a routerLink="/courses-details" class="d-flex justify-content-between align-items-center">
                                        <span class="courses-name">NumPy Array Indexing</span>
                                        <div class="courses-meta">
                                            <span class="questions">4 questions</span>
                                            <span class="duration">1 Hour</span>
                                            <span class="status locked"><i class='bx bx-lock-alt'></i></span>
                                        </div>
                                    </a></li>
                                    <li><a routerLink="/courses-details" class="d-flex justify-content-between align-items-center">
                                        <span class="courses-name">NumPy Array Slicing</span>
                                        <div class="courses-meta">
                                            <span class="duration">1.5 Hour</span>
                                            <span class="status locked"><i class='bx bx-lock-alt'></i></span>
                                        </div>
                                    </a></li>
                                </ul>
                                <h3>Python MySQL</h3>
                                <ul>
                                    <li><a routerLink="/courses-details" class="d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Python MySQL</span>
                                        <div class="courses-meta">
                                            <span class="duration">01 Hour</span>
                                            <span class="status locked"><i class='bx bx-lock-alt'></i></span>
                                        </div>
                                    </a></li>
                                    <li><a routerLink="/courses-details" class="d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Python MySQL Create Database</span>
                                        <div class="courses-meta">
                                            <span class="questions">3 questions</span>
                                            <span class="duration">1.1 Hour</span>
                                            <span class="status locked"><i class='bx bx-lock-alt'></i></span>
                                        </div>
                                    </a></li>
                                    <li><a href="#" class="d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Python MySQL Create Table</span>
                                        <div class="courses-meta">
                                            <span class="duration">1.5 Hour</span>
                                            <span class="status locked"><i class='bx bx-lock-alt'></i></span>
                                        </div>
                                    </a></li>
                                </ul>
                            </div>
                        </mdb-tab>
                        <mdb-tab title="Instructor">
                            <div class="row justify-content-center">
                                <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6 col-6">
                                    <div class="single-instructor-box">
                                        <img src="assets/img/instructors/instructors-img1.jpg" alt="instructors-image">
                                        <h3>Sarah Taylor</h3>
                                        <span class="designation">Entrepreneur</span>
                                        <div class="info">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span><i class="flaticon-file"></i> 7 courses</span>
                                                <span><i class="flaticon-people"></i> 100 students</span>
                                            </div>
                                        </div>
                                        <div class="rating">
                                            <div class="d-flex align-items-center">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <span class="count">5.0/5</span>
                                            </div>
                                        </div>
                                        <a routerLink="/profile" class="link-btn"></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6 col-6">
                                    <div class="single-instructor-box">
                                        <img src="assets/img/instructors/instructors-img2.jpg" alt="instructors-image">
                                        <h3>James Andy</h3>
                                        <span class="designation">Entrepreneur</span>
                                        <div class="info">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span><i class="flaticon-file"></i> 5 courses</span>
                                                <span><i class="flaticon-people"></i> 70 students</span>
                                            </div>
                                        </div>
                                        <div class="rating">
                                            <div class="d-flex align-items-center">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <span class="count">5.0/5</span>
                                            </div>
                                        </div>
                                        <a routerLink="/profile" class="link-btn"></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6 col-6">
                                    <div class="single-instructor-box">
                                        <img src="assets/img/instructors/instructors-img3.jpg" alt="instructors-image">
                                        <h3>David Warner</h3>
                                        <span class="designation">Entrepreneur</span>
                                        <div class="info">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span><i class="flaticon-file"></i> 10 courses</span>
                                                <span><i class="flaticon-people"></i> 60 students</span>
                                            </div>
                                        </div>
                                        <div class="rating">
                                            <div class="d-flex align-items-center">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <span class="count">5.0/5</span>
                                            </div>
                                        </div>
                                        <a routerLink="/profile" class="link-btn"></a>
                                    </div>
                                </div>
                            </div>
                        </mdb-tab>
                        <mdb-tab title="Reviews">
                            <div class="courses-reviews">
                                <h3>Course Rating</h3>
                                <div class="rating">
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star checked"></span>
                                    <span class="bx bxs-star"></span>
                                </div>
                                <div class="rating-count">
                                    <span>4.1 average based on 4 reviews.</span>
                                </div>
                                <div class="row">
                                    <div class="side">
                                        <div>5 star</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>02</div>
                                    </div>
                                    <div class="side">
                                        <div>4 star</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>03</div>
                                    </div>
                                    <div class="side">
                                        <div>3 star</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-3"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>04</div>
                                    </div>
                                    <div class="side">
                                        <div>2 star</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-2"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>05</div>
                                    </div>
                                    <div class="side">
                                        <div>1 star</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-1"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="courses-review-comments">
                                <h3>3 Reviews</h3>
                                <div class="user-review">
                                    <img src="assets/img/user/user1.jpg" alt="image">
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                        </div>
                                    </div>
                                    <span class="d-block sub-comment">James Anderson</span>
                                    <p>Very well built theme, couldn't be happier with it. Can't wait for future updates to see what else they add in.</p>
                                </div>
                                <div class="user-review">
                                    <img src="assets/img/user/user2.jpg" alt="image">
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                    <span class="d-block sub-comment">Sarah Taylor</span>
                                    <p>Was really easy to implement and they quickly answer my additional questions!</p>
                                </div>
                                <div class="user-review">
                                    <img src="assets/img/user/user3.jpg" alt="image">
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                        </div>
                                    </div>
                                    <span class="d-block sub-comment">David Warner</span>
                                    <p>Stunning design, very dedicated crew who welcome new ideas suggested by customers, nice support.</p>
                                </div>
                                <div class="user-review">
                                    <img src="assets/img/user/user4.jpg" alt="image">
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star checked'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                    <span class="d-block sub-comment">King Kong</span>
                                    <p>Stunning design, very dedicated crew who welcome new ideas suggested by customers, nice support.</p>
                                </div>
                            </div>
                            <div class="review-form-wrapper">
                                <h3>Add a review</h3>
                                <p class="comment-notes">Your email address will not be published. Required fields are marked <span>*</span></p>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <div class="form-label">GivenName<b>*</b></div>
                                                <input type="text" class="form-control" placeholder="Name *">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <div class="form-label">Email<b>*</b></div>
                                                <input type="email" class="form-control" placeholder="Email *">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <div class="form-label">Review<b>*</b></div>
                                                <textarea placeholder="Your review" class="form-control" cols="30" rows="6"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="checkme">
                                                <label class="form-check-label" for="checkme">
                                                    Save my name, email, and website in this browser for the next time I comment.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <button type="submit" class="default-btn">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mdb-tab>
                    </mdb-tabs>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="courses-details-info">
                    <ul class="info">
                        <li class="price">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class='bx bx-purchase-tag-alt'></i> Price</span>
                                <div class="price">
                                    <span class="new-price">1499</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class='bx bx-sort-up'></i> Course Level</span>
                                Intermediate
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class='bx bx-time-five'></i> Duration</span>
                                7 weeks
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class='bx bx-laptop'></i> Lessons</span>
                                25
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class='bx bx-dots-horizontal-rounded'></i> Quizzes</span>
                                5
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class='bx bx-sun'></i> Certificate</span>
                                Yes
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class='bx bx-globe'></i> Language</span>
                                English
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class='bx bx-lock-alt'></i> Access</span>
                                Lifetime
                            </div>
                        </li>
                    </ul>
                    <div class="btn-box">
                        <!-- <button type="submit" class="default-btn d-block w-100">Add to Cart</button> -->
                        <a routerLink="/courses-category" class="default-btn diff_color">Buy Now</a>
                    </div>
                    <div class="courses-share">
                        <div class="share-info">
                            <span>Share This Course <i class='bx bx-share-alt'></i></span>
                            <ul class="social-link">
                                <li><a class="facebook" href="https://www.facebook.com/people/Billion-Learners/61560717609560/" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a class="twitter" href="https://x.com/billionlea21877" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a class="instagram" href="https://www.instagram.com/billionlearners/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a class="linkedin" href="https://www.linkedin.com/company/billion-learners/" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                <li><a class="bg-danger" href="https://www.youtube.com/channel/UC0FH0KDFz7ZidHXhI-XWrug" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                                <li><a class="bg-success" href="https://www.youtube.com/channel/UC0FH0KDFz7ZidHXhI-XWrug" target="_blank"><i class='bx bxl-whatsapp'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-related-courses></app-related-courses>