
.cart-buttons {
    margin-top: 30px;

    .shopping-coupon-code {
        position: relative;
        max-width: 530px;

        .form-control {
            background-color: #f9f9f9;
            font-size: var(--fontSize);
            color: var(--blackColor);
            padding-left: 15px;
            border-radius: 5px;
            box-shadow: unset;
            height: 46px;
            border: 0;

            &::placeholder {
                font-weight: 400;
                color: var(--paragraphColor);
                transition: var(--transition);
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
        button {
            top: 0;
            right: 0;
            outline: 0;
            height: 46px;
            border: none;
            padding: 0 25px;
            line-height: 46px;
            position: absolute;
            color: var(--whiteColor);
            transition: var(--transition);
            background: var(--primaryColor);
            font: {
                weight: 500;
                size: var(--fontSize);
            };
            &:hover {
                background-color: var(--blackColor);
            }
        }
    }
}
.cart-totals {
    padding: 30px;
    max-width: 500px;
    border: 1px solid #eeeeee;
    margin: {
        top: 60px;
        left: auto;
        right: auto;
    };
    ul {
        padding-left: 0;
        margin: 0 0 20px;
        list-style-type: none;
        
        li {
            border-bottom: 1px solid #eeeeee;
            color: var(--blackColor);
            overflow: hidden;
            font-weight: 500;
            padding: {
                top: 10px;
                bottom: 10px;
            };
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                font-size: 20px;
                padding-bottom: 0;
                border-bottom: none;

                span {
                    color: var(--secondaryColor);
                    font-weight: 700;
                }
            }
            span {
                float: right;
                font-weight: normal;
                color: var(--paragraphColor);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .cart-table {
        table {
            thead {
                tr {
                    th {
                        padding: 0 0 5px;
                        font-size: 14px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 14px;
                        padding-right: 45px;
                        
                        &.product-thumbnail {
                            a {
                                img {
                                    width: 80px;
                                    display: block;
                                }
                                h3 {
                                    display: block;
                                    font-size: 14.5px;
                                    margin: {
                                        top: 10px;
                                        left: 0;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cart-buttons {
        margin-top: 20px;

        .shopping-coupon-code {
            max-width: 100%;

            .form-control {
                height: 45px;
                font-size: 14px;
                padding-left: 15px;
            }
            button {
                height: 45px;
                font-size: 13px;
                padding: 0 15px;
                line-height: 45px;
            }
        }
        .text-end {
            text-align: center !important;
            margin-top: 20px;
        }
    }
    .cart-totals {
        padding: 20px;
        max-width: 100%;
        margin-top: 30px;

        ul {
            li {
                &:last-child {
                    font-size: 16px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .cart-table {
        table {
            thead {
                tr {
                    th {
                        font-size: 14px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 15px;

                        &.product-thumbnail {
                            a {
                                h3 {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cart-buttons {
        .shopping-coupon-code {
            .form-control {
                height: 46px;
                font-size: 15px;
                padding-left: 15px;
            }
            button {
                font-size: 15px;
                height: 46px;
            }
        }
        .default-btn {
            padding: 11px 25px;
        }
    }
    .cart-totals {
        ul {
            li {
                &:last-child {
                    font-size: 18px;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}