<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Purchase</li>
            </ul>
            <h1>Purchase Orders</h1>
        </div>
    </div>
</div>

<!-- Cart -->
    <div class="cart-area ptb-100">
        <div class="container">
            <div class="products-details-tabs">
                <mdb-tabs>
                    <mdb-tab title="Purchase Material">
                        <div class="cart-table table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Material Type</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Teacher</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            29 aug 2024
                                        </td>
                                        <td>$199.00</td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn"><i class="bx bx-minus"></i></span>
                                                <input type="text" value="1">
                                                <span class="plus-btn"><i class="bx bx-plus"></i></span>
                                            </div>
                                        </td>
                                        <td>$199.00</td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mdb-tab>
                    <mdb-tab title="Purchase Orders">
                        <div class="cart-table table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Ref Number</th>
                                        <th scope="col">Order Date</th>
                                        <th scope="col">Teacher</th>
                                        <th scope="col">Sub Total</th>
                                        <th scope="col">Promocode Discount</th>
                                        <th scope="col">Referral Discount</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Currency</th>
                                        <th scope="col">Cashback in Paisa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            29 aug 2024
                                        </td>
                                        <td>$199.00</td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn"><i class="bx bx-minus"></i></span>
                                                <input type="text" value="1">
                                                <span class="plus-btn"><i class="bx bx-plus"></i></span>
                                            </div>
                                        </td>
                                        <td>$199.00</td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mdb-tab>
                    <mdb-tab title="Cashback">
                        <div class="cart-table table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Purchase Date</th>
                                        <th scope="col">Material</th>
                                        <th scope="col">Auther</th>
                                        <th scope="col">Purchaser</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            29 aug 2024
                                        </td>
                                        <td>$199.00</td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn"><i class="bx bx-minus"></i></span>
                                                <input type="text" value="1">
                                                <span class="plus-btn"><i class="bx bx-plus"></i></span>
                                            </div>
                                        </td>
                                        <td>$199.00</td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn"><i class="bx bx-minus"></i></span>
                                                <input type="text" value="1">
                                                <span class="plus-btn"><i class="bx bx-plus"></i></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mdb-tab>
                </mdb-tabs>
            </div>
        </div>
    </div>


<div class="col-lg-12 col-md-12">
    
</div>
<!-- 
<div class="pb-100">
    <app-trusted-companies></app-trusted-companies>
</div> -->