<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Frogot Password</li>
            </ul>
            <h1>My Account</h1>
        </div>
    </div>
</div>

<!-- Profile Authentication -->
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="forgot-password-box">
            <p>Forgot your password? Please enter your username or email address. You will receive a new password via email.</p>
            <form>
                <label>Email</label>
                <input type="text" class="form-control">
                <button class="default-btn" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>