
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="forgot-password-box">
            <p>Forgot your password? Please enter your username or email address. You will receive a new password via email.</p>
            <form>
                <label class="form-label">Email <b>*</b></label>
                <input type="text" class="form-control">
                <button class="default-btn" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>