<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Success Stories</li>
            </ul>
            <h1>Success Stories</h1>
        </div>
    </div>
</div>

<!-- Success Story -->
<div class="success-story-area pt-100 pb-75">
    <div class="container">
        <div class="single-success-story-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-7 col-md-7 content">
                    <h3>Alina Smith’s Story</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    <a routerLink="/student-story" class="default-btn">Read Story</a>
                </div>
                <div class="col-lg-5 col-md-5 image">
                    <img src="assets/img/success-story/success-story1.jpg" alt="success-story">
                </div>
            </div>
        </div>
        <div class="single-success-story-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-5 col-md-5 image">
                    <img src="assets/img/success-story/success-story2.jpg" alt="success-story">
                </div>
                <div class="col-lg-7 col-md-7 content">
                    <h3>John Bukshtine’s Story</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    <a routerLink="/student-story" class="default-btn">Read Story</a>
                </div>
            </div>
        </div>
        <div class="single-success-story-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-7 col-md-7 content">
                    <h3>Chelsea’s Story</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    <a routerLink="/student-story" class="default-btn">Read Story</a>
                </div>
                <div class="col-lg-5 col-md-5 image">
                    <img src="assets/img/success-story/success-story3.jpg" alt="success-story">
                </div>
            </div>
        </div>
        <div class="single-success-story-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-5 col-md-5 image">
                    <img src="assets/img/success-story/success-story4.jpg" alt="success-story">
                </div>
                <div class="col-lg-7 col-md-7 content">
                    <h3>Dallas’s Story</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    <a routerLink="/student-story" class="default-btn">Read Story</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Success Story -->
<div class="success-story-area bg-f5f5f5 pt-100 pb-75">
    <div class="container">
        <div class="section-title style-two">
            <span class="sub-title">Success Stories</span>
            <h2>More Student Success Stories</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-success-story-item">
                    <img src="assets/img/success-story/success-story5.jpg" alt="success-story">
                    <div class="content">
                        <h3>Shanelle’s Story</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content.....</p>
                    </div>
                    <a routerLink="/student-story" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-success-story-item">
                    <img src="assets/img/success-story/success-story6.jpg" alt="success-story">
                    <div class="content">
                        <h3>Jesse’s Story</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content.....</p>
                    </div>
                    <a routerLink="/student-story" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-success-story-item">
                    <img src="assets/img/success-story/success-story7.jpg" alt="success-story">
                    <div class="content">
                        <h3>Otani’s Story</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content.....</p>
                    </div>
                    <a routerLink="/student-story" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-stories></app-stories>