<div class="courses-area pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Explore top courses</h2>
            <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
            <a routerLink="/courses-grid" class="default-btn">View All Courses</a>
        </div>
        <div class="courses-tabs">
            <mdb-tabs>
                <mdb-tab title="All Courses">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses1.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Entrepreneurship in Food and Beverage</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Become a Successful Baker with BBC Good Food</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses3.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Exploring English: Food and Culture</a></h3>
                                    <a routerLink="/profile" class="author">David Warner</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">3.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,800)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$39</span>
                                        <span class="old-price">$59</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses4.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Learn How to Bake with BBC Good Food</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses5.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Nutrition: Healthy Cooking, Healthy Living</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses6.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Introduction to Sustainable Practices in Food Service</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses7.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Basics Guide To Culinary Education in 91min</a></h3>
                                    <a routerLink="/profile" class="author">David Warner</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">3.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,800)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$39</span>
                                        <span class="old-price">$59</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses8.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">How To Prepare A Traditional Basotho Dish</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Trending">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses1.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Entrepreneurship in Food and Beverage</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses3.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Exploring English: Food and Culture</a></h3>
                                    <a routerLink="/profile" class="author">David Warner</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">3.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,800)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$39</span>
                                        <span class="old-price">$59</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses4.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Learn How to Bake with BBC Good Food</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses7.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Basics Guide To Culinary Education in 91min</a></h3>
                                    <a routerLink="/profile" class="author">David Warner</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">3.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,800)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$39</span>
                                        <span class="old-price">$59</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses8.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">How To Prepare A Traditional Basotho Dish</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Featured">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Become a Successful Baker with BBC Good Food</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses3.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Exploring English: Food and Culture</a></h3>
                                    <a routerLink="/profile" class="author">David Warner</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">3.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,800)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$39</span>
                                        <span class="old-price">$59</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses6.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Introduction to Sustainable Practices in Food Service</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses8.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">How To Prepare A Traditional Basotho Dish</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="Popularity">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses5.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Nutrition: Healthy Cooking, Healthy Living</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses6.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Introduction to Sustainable Practices in Food Service</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses7.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Basics Guide To Culinary Education in 91min</a></h3>
                                    <a routerLink="/profile" class="author">David Warner</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">3.5</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star-half'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,800)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$39</span>
                                        <span class="old-price">$59</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses8.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">How To Prepare A Traditional Basotho Dish</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses1.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Entrepreneurship in Food and Beverage</a></h3>
                                    <a routerLink="/profile" class="author">Jason Smith</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(1,600)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$99</span>
                                        <span class="old-price">$199</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses2.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Become a Successful Baker with BBC Good Food</a></h3>
                                    <a routerLink="/profile" class="author">Sarah Taylor</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">4.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <span class="total">(1,100)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$69</span>
                                        <span class="old-price">$89</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="image">
                                    <img src="assets/img/kitchen-coach/courses/courses4.jpg" alt="courses-image">
                                    <a routerLink="/courses-details" class="link-btn"></a>
                                </div>
                                <div class="content">
                                    <h3><a routerLink="/courses-details">Learn How to Bake with BBC Good Food</a></h3>
                                    <a routerLink="/profile" class="author">Jasica Lora</a>
                                    <div class="rating">
                                        <div class="d-flex align-items center">
                                            <span class="overall">5.0</span>
                                            <div class="star">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <span class="total">(550)</span>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <span class="new-price">$49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-tab>
            </mdb-tabs>
        </div>
    </div>
</div>