<div class="feedback-area pt-100 pb-75">
    <div class="container">
        <div class="section-title text-center">
            <h2>What Our Learners and Instructors Say</h2>
            <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us!</p>
        </div>
        <div class="feedback-carousel">
            <owl-carousel-o [options]="carouselOptions">
                <ng-template carouselSlide *ngFor="let feedback of allFeedback">
                    <div class="single-feedback-box">
                        <p>{{ feedback.text }}</p>
                        <div class="client-info d-flex align-items-center">
                            <img [src]="feedback.img" alt="author">
                            <div class="info">
                                <h3>{{ feedback.name }}</h3>
                                <span>{{ feedback.designation }}</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
