<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Quizzes</li>
            </ul>
            <h1>Explore Quizzes</h1>
        </div>
    </div>
</div>

<!-- Courses -->
<div class="courses-area ptb-100">
    <div class="container">
        <div class="edla-grid-sorting row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-6 result-count">
                <p>We found <span class="count">16</span> courses available for you</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ordering">
                <div class="select-box">
                    <label>Sort By:</label>
                    <select>
                        <option>Default</option>
                        <option>Popularity</option>
                        <option>Latest</option>
                        <option>Price: low to high</option>
                        <option>Price: high to low</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/q-1.png" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">Oracle SQL Developer : 2024 Essentials</a></h3>
                        <a routerLink="/profile" class="author">Jason Smith</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">5.0</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <span class="total">(1,600)</span>
                            </div>
                        </div>
                        <div class="price">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/q-2.png" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">Python Django Web Develop: To-Do App</a></h3>
                        <a routerLink="/profile" class="author">Sarah Taylor</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">4.0</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                                <span class="total">(1,100)</span>
                            </div>
                        </div>
                        <div class="price">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/q-3.png" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">Microsoft Excel - Excel from Beginner</a></h3>
                        <a routerLink="/profile" class="author">David Warner</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">3.5</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star-half'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                                <span class="total">(1,800)</span>
                            </div>
                        </div>
                        <div class="price">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-courses-box">
                    <div class="image">
                        <img src="assets/img/courses/q-4.png" alt="courses-image">
                        <a routerLink="/courses-details" class="link-btn"></a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/courses-details">Deep Learning The Numpy Stack in Python</a></h3>
                        <a routerLink="/profile" class="author">Jasica Lora</a>
                        <div class="rating">
                            <div class="d-flex align-items center">
                                <span class="overall">5.0</span>
                                <div class="star">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <span class="total">(550)</span>
                            </div>
                        </div>
                        <div class="price">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area">
                    <div class="nav-links">
                        <a routerLink="/courses-wide-grid" class="prev page-numbers">prev</a>
                        <span class="page-numbers current">1</span>
                        <a routerLink="/courses-wide-grid" class="page-numbers">2</a>
                        <a routerLink="/courses-wide-grid" class="page-numbers">3</a>
                        <a routerLink="/courses-wide-grid" class="next page-numbers">next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>