<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Zoom & Meet</a></li>
                <li>Global Conference</li>
            </ul>
            <h1>Meetings Details</h1>
        </div>
    </div>
</div>

<!-- Zoom Meetings Details -->
<div class="zoom-meetings-details-area ptb-100">
    <div class="container">
        <div class="zoom-meetings-details-header">
            <span class="sub-title">ZOOM MEETINGS</span>
            <h2>Global Conference Meeting</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="zoom-meetings-details-image">
                    <img src="assets/img/courses/courses-img1.jpg" alt="meetings-image">
                </div>
                <div class="zoom-meetings-details-desc">
                    <h4>Session I: Team Meeting</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <h4>Session II: Team Plan</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <ul>
                        <li>a console</li>
                        <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                        <li>A grip that enables you to combine them into a single gamepad for play on the</li>
                        <li>Two straps for turning the Joy-Cons into individual controllers</li>
                        <li>A dock which you can use to <strong>connect</strong> your console to the television for traditional gameplay</li>
                    </ul>
                    <h4>Session III: Goodbye Brief</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="zoom-meetings-details-info">
                    <h3>Details</h3>
                    <ul class="info">
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Meeting ID:</span>
                                25465785422
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Password:</span>
                                123456
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Hosted By:</span>
                                Jason Roy
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Start:</span>
                                Sep 18, 2024 12:00 PM
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Category:</span>
                                Education
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Duration:</span>
                                55 minutes
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Timezone:</span>
                                GMT+6)
                            </div>
                        </li>
                    </ul>
                    <p><span>Note:</span> Countdown time is shown based on your local timezone.</p>
                    <div class="btn-box">
                        <a href="#" target="_blank" class="default-btn">Join Meeting via Zoom App</a>
                        <a href="#" target="_blank" class="default-btn">Join via Web Browser</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>