<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Our Faculty</li>
            </ul>
            <h1>Our Faculty</h1>
        </div>
    </div>
</div>

<!-- Instructors -->
<div class="instructors-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-instructor-box">
                    <img src="assets/img/instructors/instructor.jpg" alt="instructors-image">
                    <h3>Sarah Taylor</h3>
                    <span class="designation">Entrepreneur</span>
                    <div class="info">
                        <div class="d-flex align-items-center justify-content-between">
                            <span><i class="flaticon-file"></i> 7 courses</span>
                            <span><i class="flaticon-people"></i> 100 students</span>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <span class="count">5.0/5</span>
                        </div>
                    </div>
                    <a routerLink="/profile" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-instructor-box">
                    <img src="assets/img/instructors/instructor.jpg" alt="instructors-image">
                    <h3>James Andy</h3>
                    <span class="designation">Entrepreneur</span>
                    <div class="info">
                        <div class="d-flex align-items-center justify-content-between">
                            <span><i class="flaticon-file"></i> 5 courses</span>
                            <span><i class="flaticon-people"></i> 70 students</span>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <span class="count">5.0/5</span>
                        </div>
                    </div>
                    <a routerLink="/profile" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-instructor-box">
                    <img src="assets/img/instructors/instructor.jpg" alt="instructors-image">
                    <h3>David Warner</h3>
                    <span class="designation">Entrepreneur</span>
                    <div class="info">
                        <div class="d-flex align-items-center justify-content-between">
                            <span><i class="flaticon-file"></i> 10 courses</span>
                            <span><i class="flaticon-people"></i> 60 students</span>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <span class="count">5.0/5</span>
                        </div>
                    </div>
                    <a routerLink="/profile" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-instructor-box">
                    <img src="assets/img/instructors/instructor.jpg" alt="instructors-image">
                    <h3>Alina Smith</h3>
                    <span class="designation">Entrepreneur</span>
                    <div class="info">
                        <div class="d-flex align-items-center justify-content-between">
                            <span><i class="flaticon-file"></i> 25 courses</span>
                            <span><i class="flaticon-people"></i> 50 students</span>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star-half'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <span class="count">2.5/1</span>
                        </div>
                    </div>
                    <a routerLink="/profile" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-instructor-box">
                    <img src="assets/img/instructors/instructor.jpg" alt="instructors-image">
                    <h3>Dawid Malan</h3>
                    <span class="designation">Entrepreneur</span>
                    <div class="info">
                        <div class="d-flex align-items-center justify-content-between">
                            <span><i class="flaticon-file"></i> 20 courses</span>
                            <span><i class="flaticon-people"></i> 40 students</span>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <span class="count">2.0/2</span>
                        </div>
                    </div>
                    <a routerLink="/profile" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-instructor-box">
                    <img src="assets/img/instructors/instructor.jpg" alt="instructors-image">
                    <h3>Amy Jones</h3>
                    <span class="designation">Entrepreneur</span>
                    <div class="info">
                        <div class="d-flex align-items-center justify-content-between">
                            <span><i class="flaticon-file"></i> 15 courses</span>
                            <span><i class="flaticon-people"></i> 30 students</span>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <span class="count">3.0/3</span>
                        </div>
                    </div>
                    <a routerLink="/profile" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-instructor-box">
                    <img src="assets/img/instructors/instructor.jpg" alt="instructors-image">
                    <h3>Jason Roy</h3>
                    <span class="designation">Entrepreneur</span>
                    <div class="info">
                        <div class="d-flex align-items-center justify-content-between">
                            <span><i class="flaticon-file"></i> 10 courses</span>
                            <span><i class="flaticon-people"></i> 20 students</span>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <span class="count">5.0/5</span>
                        </div>
                    </div>
                    <a routerLink="/profile" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="single-instructor-box">
                    <img src="assets/img/instructors/instructor.jpg" alt="instructors-image">
                    <h3>Emma Lucy</h3>
                    <span class="designation">Entrepreneur</span>
                    <div class="info">
                        <div class="d-flex align-items-center justify-content-between">
                            <span><i class="flaticon-file"></i> 5 courses</span>
                            <span><i class="flaticon-people"></i> 15 students</span>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="d-flex align-items-center">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star-half'></i>
                            <span class="count">4.5/4</span>
                        </div>
                    </div>
                    <a routerLink="/profile" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>