<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Purchase</li>
            </ul>
            <h1>Purchase Orders</h1>
        </div>
    </div>
</div>

<!-- Cart -->
    <div class="cart-area ptb-100">
        <div class="container">
            <div class="products-details-tabs">
                <mdb-tabs>
                    <mdb-tab title="my Contact">
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Mobile</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Promocode Type</th>
                                        <th scope="col">Promocode</th>
                                        <th scope="col">User Discount %</th>
                                        <th scope="col">Sales Commission %</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Parchased By Referrer ?</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td>$199.00</td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mdb-tab>
                    <mdb-tab title="Cash Incentive">
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Purchase Date</th>
                                        <th scope="col">Material</th>
                                        <th scope="col">Auther</th>
                                        <th scope="col">Purchaser</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a routerLink="/product-details">
                                                <img src="assets/img/products/products1.jpg" alt="item">
                                                <h3>Black Men's T-Shirt</h3>
                                            </a>
                                        </td>
                                        <td>$199.00</td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn"><i class="bx bx-minus"></i></span>
                                                <input type="text" value="1">
                                                <span class="plus-btn"><i class="bx bx-plus"></i></span>
                                            </div>
                                        </td>
                                        <td>$199.00</td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn"><i class="bx bx-minus"></i></span>
                                                <input type="text" value="1">
                                                <span class="plus-btn"><i class="bx bx-plus"></i></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mdb-tab>
                    <mdb-tab title="Royalty">
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Purchase Date</th>
                                        <th scope="col">Material</th>
                                        <th scope="col">Auther</th>
                                        <th scope="col">Purchaser</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Payment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a routerLink="/product-details">
                                                <img src="assets/img/products/products1.jpg" alt="item">
                                                <h3>Black Men's T-Shirt</h3>
                                            </a>
                                        </td>
                                        <td>$199.00</td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn"><i class="bx bx-minus"></i></span>
                                                <input type="text" value="1">
                                                <span class="plus-btn"><i class="bx bx-plus"></i></span>
                                            </div>
                                        </td>
                                        <td>$199.00</td>
                                        <td><a routerLink="/cart" class="remove"><i class='bx bx-trash-alt'></i></a></td>
                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span class="minus-btn"><i class="bx bx-minus"></i></span>
                                                <input type="text" value="1">
                                                <span class="plus-btn"><i class="bx bx-plus"></i></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mdb-tab>
                </mdb-tabs>
            </div>
        </div>
    </div>


<div class="col-lg-12 col-md-12">
    
</div>
<!-- 
<div class="pb-100">
    <app-trusted-companies></app-trusted-companies>
</div> -->