<div
    class="events-details-area bg-image ptb-100"
    style="background-image: url(assets/img/become-a-teacher.jpg);"
>
    <div class="container">
        <div class="events-details-content">
            <span class="date">10 March</span>
            <h1>Education & LMS Workshop</h1>
            <ul class="events-countdown flex-wrap d-flex justify-content-center">
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{days}}
                    <span class="days">Days</span>
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{hours}}
                    <span class="hours">Hours</span>
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{minutes}}
                    <span class="minutes">Mins</span>
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    {{seconds}}
                    <span class="seconds">Secs</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="events-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="events-details-location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48064.52655670767!2d28.862469830475504!3d41.15563322027775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x83455128bdb4ef74!2sGokturk%20Picnic%20Area!5e0!3m2!1sen!2sbd!4v1631607806776!5m2!1sen!2sbd"></iframe>
                    <ul class="info">
                        <li><i class="bx bx-map"></i> 11:00 AM - 03:00 AM</li>
                        <li><i class="bx bx-time"></i> Istanbul, Turkey</li>
                    </ul>
                </div>
                <div class="events-details-desc">
                    <h4>About The Event</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur <i><strong>adipiscing</strong></i> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur <strong>adipiscing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <h4>Where the event?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra <a routerLink="/">maecenas</a> accumsan lacus vel facilisis.</p>
                    <h4>Who this event is for?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <h4>During this event, we’ll cover</h4>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <ul>
                        <li>a console</li>
                        <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                        <li>A grip that enables you to combine them into a single gamepad for play on the</li>
                        <li>Two straps for turning the Joy-Cons into individual controllers</li>
                        <li>A dock which you can use to <strong>connect</strong> your console to the television for traditional gameplay</li>
                    </ul>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="events-details-info">
                    <ul class="info">
                        <li class="price">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Cost:</span>
                                $149
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Total Slot:</span>
                                1500
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Booked Slot:</span>
                                350
                            </div>
                        </li>
                    </ul>
                    <div class="btn-box">
                        <a routerLink="/profile-authentication" class="default-btn">Book Now</a>
                        <p>You must <a routerLink="/profile-authentication">login</a> before register event.</p>
                    </div>
                    <div class="events-share">
                        <div class="share-info">
                            <span>Share This Events <i class='bx bx-share-alt'></i></span>
                            <ul class="social-link">
                                <li><a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="events-details-contact-info">
                    <h3>Leave your thought here</h3>
                    <form>
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Email *">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" cols="30" rows="5" placeholder="Your Comment..."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="checkme">
                                    <label class="form-check-label" for="checkme">
                                        Save my name, email, and website in this browser for the next time I comment.
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button type="submit" class="submit-btn">Post A Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-our-speakers></app-our-speakers>