<div
    class="vc-banner-area"
    style="background-image: url({{content.bgImage}});"
    *ngFor="let content of bannerContent"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="vc-banner-content">
                    <h1>{{content.title}}</h1>
                    <p>{{content.paragraph}}</p>
                    <ul class="banner-btn-list">
                        <li>
                            <a
                                routerLink="{{content.buttonLink}}"
                                class="default-btn"
                            >
                                {{content.buttonText}}
                            </a>
                        </li>
                        <li>
                            <button
                                type="button"
                                (click)="openPopup()"
                                class="popup-video"
                            >
                                {{content.videoButtonText}} <img [src]="content.videoButtonIcon" alt="image">
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="vc-banner-image">
                    <img [src]="content.image" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div
    class="video-popup"
    *ngIf="isOpen"
>
    <div class="popup-inner">
        <iframe src="https://www.youtube.com/embed/ODfy2YIKS1M" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <button (click)="closePopup()" type="button" class="close-btn">
            <i class='bx bx-x'></i>
        </button>
    </div>
</div>