<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Article</li>
            </ul>
            <h1>Explore Top Article</h1>
        </div>
    </div>
</div>

<!-- Courses -->
<div class="courses-area ptb-100">
    <div class="container">
        <div class="edla-grid-sorting row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-6 result-count">
                <p>We found <span class="count">12</span> courses available for you</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ordering">
                <div class="select-box">
                    <label>Sort By:</label>
                    <select>
                        <option>Default</option>
                        <option>Popularity</option>
                        <option>Latest</option>
                        <option>Price: low to high</option>
                        <option>Price: high to low</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <a routerLink="/courses-details-3">
                    <div class="single-courses-item">
                        <div class="front">
                            <div class="content">
                                <h3><a routerLink="/courses-details">Do This, Not That: Essential Tips for College Students and Graduates</a></h3>
                                <a routerLink="/profile" class="author">Jason Smith <i class="fa-regular fa-heart"></i></a>
                                <div class="rating">
                                    <div class="d-flex align-items center">
                                        <span class="overall">5.0</span>
                                        <div class="star">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                        <span>👁️ 50</span>
                                    </div>
                                </div>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </a>    
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <a routerLink="/courses-details-3">
                    <div class="single-courses-item">
                        <div class="front">
                            <div class="content">
                                <h3><a routerLink="/courses-details">Can We Trust AI to Make Ethical Decisions?</a></h3>
                                <a routerLink="/profile" class="author">Sarah Taylor <i class="fa-regular fa-heart"></i></a>
                                <div class="rating">
                                    <div class="d-flex align-items center">
                                        <span class="overall">4.0</span>
                                        <div class="star">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bx-star'></i>
                                        </div>
                                        <span>👁️ 50</span>
                                    </div>
                                </div>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </a>    
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <a routerLink="/courses-details-3">
                    <div class="single-courses-item">
                        <div class="front">
                            <div class="content">
                                <h3><a routerLink="/courses-details">अणू संकल्पना , अणुशास्त्र प्रगतीचा आढावा आणि अणूशक्तीचा योग्य वापर.      </a></h3>
                                <a routerLink="/profile" class="author">David Warner <i class="fa-regular fa-heart"></i></a>
                                <div class="rating">
                                    <div class="d-flex align-items center">
                                        <span class="overall">3.5</span>
                                        <div class="star">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star-half'></i>
                                            <i class='bx bx-star'></i>
                                        </div>
                                        <span>👁️ 50</span>
                                    </div>
                                </div>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </a>    
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <a routerLink="/courses-details-3">
                    <div class="single-courses-item">
                        <div class="front">
                            <div class="content">
                                <h3><a routerLink="/courses-details">What are the High-Demand Jobs Requiring English Proficiency?</a></h3>
                                <a routerLink="/profile" class="author">Jasica Lora <i class="fa-regular fa-heart"></i></a>
                                <div class="rating">
                                    <div class="d-flex align-items center">
                                        <span class="overall">5.0</span>
                                        <div class="star">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                        <span>👁️ 50</span>
                                    </div>
                                </div>
                                <div class="price">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </a>    
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12">
                <a routerLink="/courses-details-3">
                    <div class="pagination-area">
                        <div class="nav-links">
                            <a routerLink="/courses-grid-2" class="prev page-numbers">prev</a>
                            <span class="page-numbers current">1</span>
                            <a routerLink="/courses-grid-2" class="page-numbers">2</a>
                            <a routerLink="/courses-grid-2" class="page-numbers">3</a>
                            <a routerLink="/courses-grid-2" class="next page-numbers">next</a>
                        </div>
                    </div>
                </a>    
            </div>
        </div>
    </div>
</div>